# compiled output
/server/dist
/server/node_modules
/client/dist
/client/node_modules

# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# OS
.DS_Store

# Tests
/coverage
/.nyc_output

# IDEs and editors
/server/.idea
/client/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/standard-rent-system.iml
.idea/vcs.xml
server/coverage/clover.xml
server/coverage/coverage-final.json
server/coverage/lcov-report/base.css
server/coverage/lcov-report/block-navigation.js
server/coverage/lcov-report/index.html
server/coverage/lcov-report/prettify.css
server/coverage/lcov-report/prettify.js
server/coverage/lcov-report/sort-arrow-sprite.png
server/coverage/lcov-report/sorter.js
server/coverage/lcov-report/src/app.controller.ts.html
server/coverage/lcov-report/src/auth/auth.service.ts.html
server/coverage/lcov-report/src/auth/constants.ts.html
server/coverage/lcov-report/src/auth/index.html
server/coverage/lcov-report/src/house/house.controller.ts.html
server/coverage/lcov-report/src/house/house.entity.ts.html
server/coverage/lcov-report/src/house/house.service.ts.html
server/coverage/lcov-report/src/house/index.html
server/coverage/lcov-report/src/index.html
server/coverage/lcov-report/src/manager/index.html
server/coverage/lcov-report/src/manager/manager.controller.ts.html
server/coverage/lcov-report/src/manager/manager.entity.ts.html
server/coverage/lcov-report/src/manager/manager.service.ts.html
server/coverage/lcov-report/src/users/index.html
server/coverage/lcov-report/src/users/user.entity.ts.html
server/coverage/lcov-report/src/users/users.controller.ts.html
server/coverage/lcov-report/src/users/users.service.ts.html
server/coverage/lcov.info
